<div>
  <h4>Lista dos Funcionários</h4>
  <table>
    <tr>
      <th>Nome</th>
      <th>Setor</th>
      <th>Salário</th>
      <th>Email</th>
      <th>Idade</th>
      <th></th>
      <th></th>
    </tr>
    <tbody id="event-table" >
    <tr *ngFor="let funcionario of listaProdutos">
      <td>{{ funcionario.nome }}</td>
      <td>{{ funcionario.setor.nome }}</td>
      <td>{{ funcionario.salario }}</td>
      <td>{{ funcionario.email }}</td>
      <td>{{ funcionario.idade }}</td>
      <td><span @click="">&#9998;</span>
        <span  @click="">&#10006;</span>
      </td>
    </tr>
    </tbody>
  </table>

  <input type="button" [routerLink]="['/cadastro']" value="cadastrar usuario">
</div>

