<!-- Default form register -->
<form class="text-center border border-light p-5" [formGroup]="registerForm">

  <p class="h4 mb-4">Cadastrar Funcionario</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nome" formControlName="name">
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Setor" formControlName="setor">
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="email">

  <!-- Password -->
  <input type="text" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Salário"
         aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="salario">

  <!-- Phone number -->
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Idade"
         aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="idade" maxlength="2">


  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="cadastrar()">Cadastrar</button>

  <hr>

</form>
<!-- Default form register -->
